JSON-Files/config.json
JSON-Files/data.json
JSON-Files/emote-dict.json
JSON-Files/scraped-emotes.json
ML-Emote-Classifier/geckodriver.log
ML-Emote-Classifier/geckodriver.exe
ML-Emote-Classifier/geckodriver.txt
ML-Emote-Classifier/__pycache__